<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Deep Notes.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>NotesDomain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NotesEngine-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NotesFeatures.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NotesStorage.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NotesSync.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NotesUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>notes-app.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>notes-cli.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>notes-perf-harness.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>NotesDomain</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NotesDomainTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NotesFeatures</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NotesFeaturesTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NotesStorage</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NotesStorageTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NotesSync</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NotesSyncTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NotesUI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NotesUITests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>notes-cli</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>notes-perf-harness</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
